@model LBS.Models.Lesson

<h1>Edytuj zajęcia</h1>
<form asp-action="Edit">
	<input type="hidden" asp-for="Id" />
	<div>
		<label asp-for="LessonTime"></label>
		<input asp-for="LessonTime" />
		<label asp-for="LessonDate"></label>
		<input asp-for="LessonDate" />
		<label asp-for="LessonLength"></label>
		<input asp-for="LessonLength" />
	</div>
	<button type="submit">Zapisz zmiany</button>
</form>
